.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background: #f0f0f0;
  color: #555;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

.heading {
  font-size: 1.625em;
  font-weight: 700;
  padding-left: 46px;
  margin-top: 50px;
  margin-bottom: 50px;
}

h1{
  color: #024777;
  font-size: 2.5em;
  font-weight: 600;
  margin-bottom: 60px;
}

@media (min-width: 768px) {
.container {
  padding: 45px 15px;
  margin-top: 50px;
  margin-right: auto;
  margin-left: auto;
  width: 1000px;
  background: #fff;
  border-radius: 2px;
  box-shadow: 1px 1px 0 #e0e0e0;
  box-sizing: border-box;
}
}

.container2 {
  width: 720px;
  margin-left: auto;
  margin-right: auto;
}

a {
  text-decoration: none;
  color: #337ab7;
}

.map {
  cursor: url(https://maps.gstatic.com/mapfiles/openhand_8_8.cur), default;
}

iframe {
  border: none!important;
}

form .heading{
  margin-bottom: 10px;
}

.parag {
  margin-bottom: 50px;
}

input[type="text"], input[type="email"] {
  height: 24px;
  width: 332px;
  padding: 6px 12px;
  margin-bottom: 15px;
  font-size: 14px;
  color: #555;
  background-color: #fff;
  border: 1px solid #ccc;
  outline: none;
}

*:focus:valid {
  border-color: skyblue;
  box-shadow: 0 0 5px skyblue;
}

*:focus:invalid {
  border-color: #c00000;
  box-shadow: 0 0 5px #c00000;
}

textarea {
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  outline: none;
}

.comment {
  margin-bottom: 15px;
  font-size: 14px;
  font-style: italic;
  color: #a9a9a9;
}

input[type="submit"] {
  font-weight: 400;
  cursor: pointer;
  background-color: #fff;
  border: 1px solid #ccc;
  color: #333;
  padding: 6px 12px;
  font-size: 14px;
}

footer {
  padding-top: 60px;
  padding-bottom: 50px;
  text-align: center;
}

footer p{
  margin: 0 0 10px;
  font-size: 13px;
}